<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Your Quizzes</title>
	<link rel="stylesheet" href = "{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
</head>

<body onload="populateChallengeFriends('{{ USERNAME }}', '{{ QUIZ_ID }}')">
    <div id = "top">
        <h1 class="logo-link">
            <a href="{{ url_for('main_menu', username=USERNAME) }}">QuizQuest</a>
        </h1>
        <div id="button-container">
            <button type="button" onclick="window.location.href='{{ url_for('inbox', username=USERNAME) }}'">Inbox 📧</button>
            <button type="button", id="login and sign out button", onclick="top_right_user_account_button_is_for_login_or_log_out(false)">Sign Out</button>
        </div>
    </div>
    <h2>Select a Friend</h2>

    <table class = "List">
        <thead>
            <tr>
                <th class = "List_Head">Username</th>
                <th class = "List_Head">Select</th>
            </tr>
        </thead>
        <tbody class = "List_Body" id = "friend_table">
            </tbody>
    </table>
</body>
